@font-face {
    font-family: "Inter";
    src: url("fonts/inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter_bold";
    src: url("fonts/inter/static/Inter-Bold.ttf");
}

body {
    margin: 50px;
    font-family: "Inter";
}