body {
    margin: 0;
}

nav {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: column;
    margin: 30px;
}


#bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}