h1 {
    font-family: "Inter_bold";
    height: 50px;
    font-size: 26px;
}

img {
    width: 275px;
    border: 1px solid #a4a4a4;
    object-position: center;
}

ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.shoe {
    border: 1px solid black;
    display: flex;
}

.shoe>div {
    padding: 30px;
}

.shoe>div>div {
    font-size: 22px;
}

.kindOfShoe,
.countryOfProduction {
    border: 1px solid black;
    margin: 15px 0;
    margin-bottom: 0;
    padding: 15px;
    width: fit-content;
}

/*sizes*/
.size-box p{
    margin: 0;
    font-size: 1.0rem;
}

.size-box{
    border: 1px solid black;
    padding: 5px 10px;
    width: fit-content;
}

.sizes {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    width: 380px;   
}

  h2{
    margin:20px 0 8px 0;
    font-family: "Inter_bold";
    font-size: 18px;
}
  

  .size-box:hover {
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

.addtocard p{
    border: 1px solid black;
    margin: 28px 0;
    margin-bottom: 0;
    padding: 6px 10px;
    width: fit-content;
    color: whitesmoke;
    background-color: black;
}

.addtocard p:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

.size-box.unavailable-size  {
    background-color: whitesmoke;
    color: gray; 
    border: 1px solid gray;
}

.size-box {
    position: relative;
  }
  
  .unavailable-x {
    position: absolute;
    top: 13px;
    left: -17px;
    width: 100%;
    height: 168%;
    border-left: 1px solid gray;
    transform: rotate(54deg);
    transform-origin: bottom right;
  }


  .change{
    background-color: black;
    color: whitesmoke;
  }
  