main {
    margin: 40px;
}

header {
    padding: 20px;
}

nav {
    /* göra knapparna lika långa i navbaren */
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

#bottom {
    display: grid;
    /* 3 skor på display per rad */
    grid-template-columns: repeat(3, 1fr);
    /* varje row ska vara 500px (ungefär?) */
    grid-auto-rows: 500px;
    /* mellanrum mellan listorna på skorna */
    gap: 20px;
}