.filter-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.filter-container {
    margin: 1vw 5vw 3vw 5vw;
    padding: 5px;
    display: flex;
    justify-content: end;
    border-bottom: #00000057 1px solid;
}


.filter-popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.filter-content {
    background-color: #fefefe;
    margin: 0;
    padding: 3vw 2vw;
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0;
}

.filter-content h1 {
    font-size: 40px;
}

.filter-content-types h3 {
    text-transform: uppercase;
    padding: 15px;
    margin-top: 80px;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 30px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
}

.filter-content-types div:first-of-type h3 {
    margin-top: 0;
}

.input-box {
    height: 25px;
    width: 20px;
    margin: 13px;
}

.input-price {
    height: 25px;
    width: 100px;
}


.filter-content-types label,
.filter-content-types p {
    text-transform: uppercase;
    font-size: 25px;
}



.close-button {
    color: black;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 38px;
    font-weight: bold;
}

.close-button:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}